<%= form_for(house) do |f| %>
<% if house.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(house.errors.count, "error") %>
    prohibited this house from being saved:</h2>

  <ul>
    <% house.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <label for="house_region">Regions</label>:
  <!-- Region is a table with one column called 'name' and an auto-assigned column id; :region_id is the name of the element and 0 is the default selected index when the page loads. -->
  <%= collection_select(:region_id, 0, Region.all, :id, :name) %>
</div>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :telephone %>
  <%= f.number_field :telephone %>
</div>

<div class="field">
  <%= f.label :street %>
  <%= f.text_field :street %>
</div>

<div class="field">
  <%= f.label :rules %>
  <%= f.text_area :rules %>
</div>

<div class="field">
  <%= f.label :ammenities %>
  <%= f.text_area :ammenities %>
</div>

<div class="field">
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
