<!DOCTYPE html>

<!-- container for the search -->
<div class="container search">
  <%= form_tag(houses_path, :method => "get", id: "search-form") do %>

  <div class="input-group input-group-lg">

    <%= text_field_tag :search, params[:search], placeholder: "Search for a location.....", class:"form-control"%>

    <span class="input-group-btn">

      <button type="button" name="button" class="btn btn-default btn-lg" <%= submit_tag "Search", :location => nil%>Search</button>

    </span>

  </div>
  <% end %>

</div>
<!-- container for the search -->
<div class="container locations">

  <div class="row location-area">
    <%@houses.each do |house|%>
    <!-- link to show -->
    <%= link_to house_path(house), :action => 'go' do %>
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 img-thumbnail">
      <div class="thumbnail">
        <img <%= image_tag house.images[0].url%>
      </div>
      <h3><%= house.name%></h3>
      <p class="icons">
        <span class="star-icons">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="star-icons">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="star-icons">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="star-icons">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="star-icons">
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </span>
      </p>
      <h4>
        <span class="house-location"><%= house.location%></span>
        <span class="price">Ksh:<%= house.price%></span>
      </h4>

    </div>
    <%end%>
    <!-- end link -->
    <%end%>
  </div>
</div>
