<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @house.telephone %>
</p>

<p>
  <strong>Street:</strong>
  <%= @house.street %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @house.rules %>
</p>

<p>
  <strong>Ammenities:</strong>
  <%= @house.ammenities %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'New Booking', new_house_booking_path(@house,@booking) %> |
<%= link_to 'Back', houses_path %>
<div class="container">
        <div class="row ">
          <div class="row top-title">
            <!-- title of home -->
            <h2>Beach House on the white sandy shores of malindi</h2>
            <h3 id="location">silver sand road malindi</h3>
            <!-- title of home -->
          </div>



            <!--  main content column -->
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">

                <!-- image section -->
                <img src="/kisumu.jpg" alt="kisumu" class="img-responsive locationImage">
                <!-- image section -->

                <div class="row details">
                    <!-- details title -->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 title">
                        <h3>Details :</h3>

                    </div>
                    <!-- details title -->
                    <!--  details list-->
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                        <div class="row">
                            <!-- house type -->
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <h5>House type</h5>
                            </div>
                            <!-- house type -->

                            <!-- house capacity -->
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <h5>House capacity</h5>
                            </div>
                            <!-- house capacity -->

                            <!-- house bedrooms -->
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <h5>House  bedrooms</h5>
                            </div>
                            <!-- house bedrooms -->

                            <!-- minimum stay -->
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-moon-o" aria-hidden="true"></i>
                                <h5>House minimum stay</h5>
                            </div>
                            <!-- minimum stay -->
                        </div>

                    </div>
                  </div>

                    <!--  details list-->

                    <!-- about property -->
                    <div class="row about">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 title-about">
                                <h3>About property :</h3>
                            </div>

                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 home-title">
                                <h3>Beach House on the white sandy shores of malindi</h3>
                            </div>
                        </div>
                        <div class="row  about-text well">
                            <p>This property, about it.</p>
                        </div>

                    </div>
                    <!-- about property -->

                    <!-- amenities -->
                    <div class="row amenities">
                        <h1>Amenities</h1>
                        <div class="row amenities-list well">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <h4>Ammenity title:</h4>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <ul>
                                    <li>Item 1</li>
                                    <li>item 2</li>
                                    <li>item 3</li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- amenities -->

                    <!-- reviews -->
                    <div class="row review">
                        <h1>Reviews</h1>
                        <div class="row write-review">

                            <textarea rows="3" cols="40" class="form-control textarea" placeholder="Write a review"></textarea>
                            <button class="btn btn default">Send Review</button>
                        </div>
                        <div class="row read-reviews well">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <img src="/profileImage.jpg" alt="" class="img-responsive img-thumbnail">
                                <h4>Kenneth miratu</h4>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 review-title">
                                <h2>This place deserves all the stars</h2>
                            </div>
                        </div>

                    </div>
                    <!-- reviews -->


                </div>
            </div>
            <!--  main content column -->


            <!-- booking form column -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

              <button type="submit" name="button">book Now</button>
            </div>
            <!-- booking form column -->

        </div>

    </div>
