<div class="tab-pane" role="tabpanel" id="settings">
  <!-- username avatar -->
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <!-- phone-number field -->

  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.number_field :telephone, autofocus: true %>
  </div>
    <p>...</p>
</div>
